:root {
  background: #0B1D45;
  background: linear-gradient(135deg, #0B1D45, #36384B);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}